body{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer";
}

header{
    grid-area: header;
}

main{
    grid-area: main;
    background-color: #FDF6F0;
}

aside{
    grid-area: aside;
    margin-left: 1em;
    background-color: #FCD8D4;
}

footer{
    grid-area: footer;
}

footer{
    background:  #F8E2CF;
    grid-column: 1 / -1;
    text-align: center;
}
/* Estilos para encabezado */
header img{
    width: 70%;
    height: 70%;
    display: block;
}
h1{
    text-align: center;
    color: #F5C6AA;
}
header nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #F8E2CF;
    justify-content: space-evenly;
}

header nav ul a{
    text-decoration: none;
    padding: 0.5em;
    display: block;
    color: black;
}

header nav ul a:hover{
    background-color: white;
}

div img{
    width: 30%;
    height: 30%;
    display: block;
}

#somos{
    text-align: center;
    color: #f599cb;
    text-shadow: white;
}
#espera{
    text-align: center;
    color: #f599cb;
    text-shadow: white;
}
#orden{
    text-align: center;
    color: #f599cb;
    text-shadow: white;
}
#Decoracion{
    text-align: center;
    color: #f599cb;
    text-shadow: white;
}
#encontrar{
    text-align: center;
    color: #f599cb;
    text-shadow: white;
}
